@{
    ViewBag.Title = "Thành công";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h3 class="title-single">Đánh giá cán bộ - công chức thành công</h3>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Đánh giá thành công
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section><!-- End Intro Single-->
        <!-- ======= Contact Single ======= -->
        <section class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="contact-map box">
                            <div class="intro contact-map" style="background-image: url('../../Assets/Client/img/sucess.png')">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <h6s class="intro-title mb-4 ">
                                            <span class="color-b">Cám ơn bạn đã đánh giá </span> 
                                        </h6s>
                                        <p class="intro-title-top" style="color: black;">
                                            Chúng tôi hi vọng bạn đã hài lòng với cách phục vụ của cán bộ - công chức tỉnh Bình Dương. Rất mong
                                            nhận được nhiều sự đánh giá của bạn trong thời gian tới để chúng tôi hoàn thành công việc một cách hiệu
                                            quả nhất. Trân trọng.
                                        </p>
                                        <p class="intro-subtitle intro-price">
                                            <a href="/"><span class="price-a" style="color: #2eca6a; font-weight: bold;"><i class="bi bi-house-fill"></i> Về trang chủ</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Single-->

    </main>